#eclipse
.project
.externalToolBuilders
.classpath
.metadata
org.*
bin
.settings
.cache

#idea
*.iml
*.ipr
*.iws
.idea
out

#gradle
build
.gradle
gradle
gradlew
gradlew.bat

#runtime
run
.gradle/gradle.log
src/api/java/buildcraft/*

